<h2>Hola {{usuario}} <a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea salir?')"
        href='/salir'>Salir</a>
    <a type="submit" class="btn btn-primary" href='/productos'>Volver</a>
</h2>


<div class="editar">
    <form action="/editar" method="post">

        <input type="hidden" name="id" value="{{edit.id}}" />

        <br>
        
        <div class="form-floating">
            <input class="form-control" maxlength="15" type="text" name="nombre" id="inputNombre"
                value="{{edit.nombre}}" placeholder="Coloque el nuevo Nombre" /><label
                for="inputNombre">Producto</label>
        </div>

        <br>

        <div class="form-floating">
            <input class="form-control" maxlength="13" type="number" name="precio" id="inputPrecio"
                value="{{edit.precio}}" placeholder="Coloque el Precio" /><label for="inputPrecio">Precio</label>
        </div>

        <br>

        <button class="btn btn-primary" type="submit">Editar</button>

    </form>
    <br>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}

</div>