<h2>
    Hola {{usuario}}
    <a type="submit" class="btn btn-primary"
        onclick="return confirm('¿Esta seguro que desea salir, se cerrara el turno actual?')" href='/salir'>Salir</a>
    <a type="submit" class="btn btn-primary" href="">Cambiar Contraseña</a>
    <a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea cerrar el turno actual?')"
        href='/finalizar'>Cerrar Turno</a>
    <a type="submit" class="btn btn-primary" href="/cierres">Ver Cierres</a>
</h2>


<br>
<div class="row justify-content-evenly">

    <div class="col-5">

        <h3>Productos</h3>
        <div class="pr"></div>

        <input style="width: 70%;" type="text" id="searchTerm" class="form-control" placeholder="Buscar"
            onkeyup="doSearch()">

        <br>



        <div class="row justify-content-evenly">


            <table class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {{#each prod}}
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{nombre}}</td>
                        <td>${{precio}}</td>
                        <th><button class="producto btn btn-primary" data-idproducto={{nombre}} data-precio={{precio}}
                                data-cantidad="0"></button></th>
                    </tr>

                </tbody>

                {{/each}}

            </table>



        </div>

    </div>
    <div class="col-5">
        <h3>Carrito de Compras</h3>
        <div id="carritoDeCompras"> </div>
    </div>


</div>
<br>
<div class="col">
    <h2 id="precioTotal">Total: $0 </h2>
    <button id="vaciar" class="btn btn-primary">Vaciar Carrito</button>
    <a id="registrar" class="btn btn-primary">Registrar Carrito</a>
</div>

<script src="/javascripts/scripts.js"></script>