<h2>Hola {{usuario}} <a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea salir?')"
        href='/salir'>Salir</a>
    <a type="submit" class="btn btn-primary" href='/inicio'>Volver</a>
</h2>

<div class="busc row justify-content-center">
    <div class="column1">
        <input type="text" class="form-control" id="searchTerm" placeholder="Buscar" onkeyup="doSearch()">
    </div>
    <br>
    <br>
    <div class="column2">
        <a type="submit" class="btn btn-primary" href='/agregaruser'>Agregar Usuario</a>
    </div>
</div>


<div class="scroll">

    {{#if users}}
    <table class="table" id="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each users}}
        <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{usuario}}</td>
                <td>
                    <a onclick="return confirm('¿Estas seguro que quieres borrar el usuario?, se borrara todos los registros vinculados al usuario.')"
                        href="/borrarusuario/{{id}}"><img src="/images/borrar.png"></a>
                </td>
            </tr>

        </tbody>

        {{/each}}

    </table>
    {{else}}
    <h2>No Existe ningun Usuario</h2>
    {{/if}}



</div>